/* TASK FORM  */
.title {
  font-family: Raleway;
  font-weight: 900;
  font-size: 2.8rem;
  color: var(--white-text);
  text-transform: uppercase;
  letter-spacing: 2rem;
}

.inputContainer {
  width: 100%;
  padding: 1.3rem;
  margin: 1rem 0;
  background-color: var(--main-bg);
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 95%;
  font-family: Poppins;
  font-size: 1.1rem;
  color: var(--main-text);
  border: 0;
  background-color: transparent;
}

.input::placeholder {
  opacity: 0.3;
}

.iconClear {
  display: block;
}

.span {
  display: none;
  font-size: 1.2rem;
  color: var(--gray-text);
}

/* HOVER */
@media (hover: hover) {
  .span:hover {
    color: var(--accent);
    cursor: pointer;
  }
}
