/* ITEM */
.task_container {
  padding: 1.3rem;
  display: grid;
  grid-template-columns: 1fr 15fr 1fr 1fr;
  gap: 1rem;
  background-color: var(--main-bg);
  border-bottom: 1px solid var(--gray-text);
  transition: background-color 0.2s ease;
}

.task_container:first-child {
  border-radius: 0.4rem 0.4rem 0 0;
}

/* ----- */
.empty {
  padding: 1.3rem;
  display: flex;
  justify-content: center;
  background-color: var(--main-bg);
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 2px solid var(--bg);
}

.empty > p {
  font-family: Josefin;
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--main-text);
  opacity: 0.6;
}

/* ----- */
.checkbox_task {
  appearance: none;
  display: grid;
  place-content: center;
}

.checkbox_border {
  width: 1.6rem;
  height: 1.6rem;
  border: 2px solid var(--gray-text);
  border-radius: 50%;
}

.checkbox_task::before {
  content: "";
  background-image: url(../../assets/icons/check.svg),
    linear-gradient(to bottom right, #5df 0%, #c058f3 100%);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  transform: scale(0);
  transition: 0.3s;
}

.checkbox_task:checked::before {
  transform: scale(1);
}

.task_edit {
  font-family: Poppins;
  font-size: 1.1rem;
  color: var(--main-text);
  border: 0;
  background-color: transparent;
}

.task_edit:focus-visible {
  outline: none;
  opacity: 0.6;
}

.task_container > p {
  font-size: 1.1rem;
  color: var(--main-text);
}

.task_completed {
  text-decoration: line-through;
  opacity: 0.4;
}

.task_container > button {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.task_container > button > img {
  width: 1.2rem;
  filter: var(--filter);
  opacity: 0.25;
}

/* HOVER */
@media (hover: hover) {
  .task_container:hover {
    cursor: grab;
  }

  .checkbox_task:hover {
    border: 2px solid var(--accent);
    cursor: pointer;
  }

  .task_container > button:hover {
    cursor: pointer;
  }

  .task_container > button:hover > img {
    opacity: 1;
  }
}
