/* AUTH */
.auth {
  width: 45%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  position: relative;
  top: 11rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-family: Raleway;
  font-weight: 900;
  font-size: 2.3rem;
  color: var(--white-text);
}

.authButton {
  width: 100%;
  padding: 1rem;
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--main-text);
  text-transform: uppercase;
  border: 0;
  border-radius: 0.4rem;
  background-color: var(--main-bg);
  transition: 0.3s;
}

.inputs {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  padding: 1.3rem;
  font-size: 1rem;
  color: var(--main-text);
  background-color: var(--main-bg);
  border: 0;
  border-radius: 0.4rem;
}

.input::placeholder {
  opacity: 0.3;
}

.inputPassword {
  position: relative;
}

.viewPass {
  background-color: transparent;
  position: absolute;
  top: 35%;
  right: 1rem;
}

.iconEye {
  width: 1.5rem;
  filter: var(--filter);
  opacity: 0.5;
}

#hidden {
  display: none;
}

.inputError {
  background-color: var(--error);
}

/* FOOTER */
.footer {
  margin-top: 1rem;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  font-family: Josefin;
  font-size: 1.1rem;
}

.footerText {
  color: var(--main-text);
}

.footerLink {
  color: var(--accent);
}

/* SEPARATOR */
.separator {
  margin-top: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
}

.separator > p {
  color: var(--main-text);
}

.separator > span {
  content: "";
  width: 45%;
  height: 0.05rem;
  position: absolute;
  top: 50%;
  background-color: var(--google-bg);
  opacity: 0.5;
}

.separator > span:nth-child(1) {
  left: 0;
}

.separator > span:nth-child(3) {
  right: 0;
}

/* GBUTTON */
.gbutton {
  width: 100%;
  padding: 1.2rem;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border-radius: 0.3rem;
  background-color: var(--google-bg);
}

.iconGoogle {
  width: 1.4rem;
}

.gbuttonText {
  color: var(--google-text);
}

/* HOVER */
@media (hover: hover) {
  .authButton:hover {
    color: var(--accent);
    cursor: pointer;
  }

  .viewPass:hover,
  .gbutton:hover {
    cursor: pointer;
  }

  .footerLink:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

/* ADAPTIVE */
@media (max-width: 1000px) {
  .auth {
    width: 60%;
  }
}

@media (max-width: 650px) {
  .auth {
    width: 90%;
  }
}
