/* LOGIN & REGISTER */
.title > h2 {
  font-family: Raleway;
  font-weight: 900;
  font-size: 2.3rem;
  color: var(--white-text);
}

.title > button {
  width: 100%;
  padding: 1.2rem;
  margin-top: 1rem;
  font-family: Poppins;
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--main-text);
  text-transform: uppercase;
  border: 0;
  border-radius: 0.4rem;
  background-color: var(--main-bg);
  transition: 0.3s;
}

.form_content {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  margin-bottom: 0.5rem;
}

.form_content > input,
.form_content > div > input {
  width: 100%;
  padding: 1.3rem;
  font-family: Poppins;
  font-weight: 300;
  font-size: 1.1rem;
  color: var(--main-text);
  background-color: var(--main-bg);
  border: 0;
  border-radius: 0.4rem;
}

.form_content > div {
  position: relative;
}

.form_content > input::placeholder,
.form_content > div > input::placeholder {
  opacity: 0.3;
}

.form_content > div > button {
  background-color: transparent;
  position: absolute;
  top: 35%;
  right: 1rem;
}

.form_content > div > button > img {
  width: 1.5rem;
  filter: var(--filter);
}

#hidden {
  display: none;
}

.form_content > input.input_error,
.form_content > div > input.input_error {
  background-color: var(--error);
}

/* ----- */
.auth_footer {
  margin-top: 1rem;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  font-family: Josefin;
  font-size: 1.1rem;
}

.auth_footer > p {
  color: var(--main-text);
}

.auth_footer > a {
  color: var(--accent);
}

/* HOVER */
@media (hover: hover) {
  .title > button:hover {
    cursor: pointer;
  }

  .title > button:hover {
    color: var(--accent);
  }

  .form_content > div > button:hover > img {
    cursor: pointer;
  }

  .auth_footer > a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

/* ADAPTIVE */
@media (max-width: 650px) {
  .title > h2 {
    font-size: 2rem;
  }
}
