/* FONTS */
@font-face {
  font-family: Josefin;
  src: url(../assets/Josefin.ttf) format(truetype);
}

@font-face {
  font-family: Poppins;
  src: url(../assets/Poppins.ttf) format(truetype);
}

@font-face {
  font-family: Raleway;
  src: url(../assets/Raleway.ttf) format(truetype);
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: none;
}

a {
  text-decoration: none;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-weight: inherit;
  border: 0;
}

ul,
ol {
  list-style: none;
}

/* GLOBALS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s;
}

body {
  font-family: Poppins;
  background-color: var(--bg);
  animation: fade-In 1s;
}

.main_container {
  width: 45%;
  position: relative;
  top: 10rem;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

/* HEADER IMAGE */
.header_image {
  position: absolute;
  width: 100%;
  height: 345px;
  background-image: linear-gradient(to right, #12c2e9cc, #c46f37cc),
    url(../assets/header.jpg);
  background-size: cover;
  background-position: 0 20%;
  z-index: -1;
}

/* ADAPTIVE */
@media (max-width: 1000px) {
  .main_container {
    width: 57%;
  }
}

@media (max-width: 650px) {
  .main_container {
    width: 90%;
  }

  .header_image {
    background-position: center;
  }
}

/* ANIMATION */
@keyframes fade-In {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
