/* FONTS */
@font-face {
  font-family: Josefin;
  src: url(../assets/Josefin.ttf) format(truetype);
}

@font-face {
  font-family: Poppins;
  src: url(../assets/Poppins.ttf) format(truetype);
}

@font-face {
  font-family: Raleway;
  src: url(../assets/Raleway.ttf) format(truetype);
}

/* GLOBALS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s;
}

body {
  font-family: Poppins;
  background-color: var(--bg);
}

.main__container {
  width: 100%;
  position: absolute;
  top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* HEADER IMAGE */
.header__image {
  position: absolute;
  width: 100%;
  height: 345px;
  background-image: linear-gradient(to right, #12c2e9cc, #c471edcc, #f64f59cc),
    url(../assets/header.jpg);
  background-size: cover;
  background-position: 0 20%;
  z-index: -1;
}

/* MOBILE */
@media (max-width: 650px) {
  .header__image {
    background-position: center;
  }
}
