/* LOGIN & REGISTER */
.title > h2 {
  font-family: Raleway;
  font-weight: 900;
  font-size: 2.3rem;
  color: var(--white-text);
}

.title > button {
  width: 100%;
  padding: 1.2rem;
  margin-top: 1rem;
  font-family: Poppins;
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--main-text);
  text-transform: uppercase;
  border: 0;
  border-radius: 0.4rem;
  background-color: var(--main-bg);
  transition: 0.3s;
}

.form_content {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  margin-bottom: 0.5rem;
}

.form_content > input {
  padding: 1.3rem;
  font-family: Poppins;
  font-weight: 300;
  font-size: 1.1rem;
  color: var(--main-text);
  background-color: var(--main-bg);
  border: 0;
  border-radius: 0.4rem;
}

.form_content > input::placeholder {
  opacity: 0.3;
}

#hidden {
  display: none;
}

.form_content > input.input_error {
  background-color: var(--error);
}

.form_content > a {
  margin-top: 1rem;
  position: relative;
  font-family: Josefin;
  font-size: 1.1rem;
  color: var(--main-text);
  align-self: center;
  text-decoration: none;
}

.form_content > a:after {
  content: "";
  width: 100%;
  height: 0.5px;
  position: absolute;
  left: 0;
  bottom: -20%;
  background-color: var(--accent);
  transform: scaleX(0);
  transform-origin: center;
  transition: 0.4s;
}

/* HOVER */
@media (hover: hover) {
  .title > button:hover {
    cursor: pointer;
  }

  .title > button:hover {
    color: var(--accent);
  }

  .form_content > a:hover {
    color: var(--accent);
    cursor: pointer;
  }

  .form_content > a:hover:after {
    transform: scaleX(1);
  }
}

/* ADAPTIVE */
@media (max-width: 650px) {
  .title > h2 {
    font-size: 2rem;
  }
}
