/*
==========
FOOTER
=========
*/
.footer {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  color: var(--gray-text);
  background-color: var(--main-bg);
  border-radius: 0 0 6px 6px;
  font-family: Josefin;
}

.categories {
  display: flex;
  gap: 1.1rem;
}

.categories > li {
  list-style-type: none;
  cursor: pointer;
  transition: 0.3s;
}

.categories > li.active {
  color: var(--accent);
  font-weight: 900;
}

#disabled {
  pointer-events: none;
}

/* HOVER */
@media (hover: hover) {
  .categories > li:hover {
    color: var(--accent);
  }
}
