/*
==========
FOOTER
=========
*/
.footer {
  padding: .9rem;
  font-size: 1em;
  border-radius: 0 0 6px 6px;
  font-family: Josefin;
  font-weight: 400;
}

.categories {
  display: flex;
  justify-content: space-evenly;
}

.categories > li {
  list-style-type: none;
  cursor: pointer;
  transition: .3s;
}

.categories > li:hover {
  color: var(--accent-bg);
}

.categories > li.active {
  color: var(--accent-bg);
  font-weight: 900;
}

#disabled {
  pointer-events: none;
}

/*
==========
THEME
=========
*/
@media (prefers-color-scheme: light) {
  .footer {
    background-color: var(--light-main-bg);
    color: var(--light-gray-text);
  }
}

@media (prefers-color-scheme: dark) {
  .footer {
    background-color: var(--dark-main-bg);
    color: var(--dark-gray-text);
  }
}
