/* 
==============
HOME
==============
*/
.home {
  width: 45%;
  margin-top: 4rem;
}

.home > h1 {
  font-family: Raleway;
  font-weight: 900;
  font-size: 3.5rem;
  color: var(--white-text);
  text-align: center;
}

.home__links {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

.home__links > a {
  padding: 1.3rem;
  font-family: Poppins;
  font-weight: 300;
  font-size: 1.1rem;
  color: var(--dark-text);
  border: 0;
  border-radius: 6px;
  text-align: center;
  background-color: var(--main-bg);
  text-decoration: none;
  transition: 0.3s;
}

.home__links > a:hover {
  filter: brightness(90%);
}

/*
  ==========
  TABLET & MOBILE
  ==========
  */
@media (max-width: 1000px) {
  .home {
    width: 65%;
  }
}

@media (max-width: 650px) {
  .home {
    width: 85%;
  }
}
