/* 
==============
HOME
==============
*/
.home {
  width: 45%;
  margin-top: 4rem;
}

.home > h1 {
  font-family: Raleway;
  font-weight: 900;
  font-size: 3.5rem;
  text-align: center;
}

.home__links {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

.home__links > a {
  padding: 1.3rem;
  font-family: Poppins;
  font-weight: 300;
  font-size: 1.1rem;
  border: 0;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  transition: .3s;
}

.home__links > a:hover {
    filter: brightness(90%);
}

/*
  ==========
  THEME
  =========
  */
@media (prefers-color-scheme: light) {
  .home > h1 {
    color: var(--light-white-text);
  }

  .home__links > a {
    font-weight: 400;
    color: var(--light-black-text);
    background-color: var(--light-main-bg);
  }
}

@media (prefers-color-scheme: dark) {
  .home > h1 {
    color: var(--dark-black-text);
  }

  .home__links > a {
    color: var(--dark-white-text);
    background-color: var(--dark-main-bg);
  }
}

/*
  ==========
  TABLET & MOBILE
  ==========
  */
@media (max-width: 1000px) {
  .home {
    width: 65%;
  }
}

@media (max-width: 650px) {
  .home {
    width: 85%;
  }
}
