/*
==========
LIST
=========
*/
.list {
  width: 40%;
  position: relative;
  margin-bottom: 3rem;
}

.task__container {
  padding: 1.3rem;
  display: grid;
  grid-template-columns: 1fr 15fr 1fr;
  gap: 1rem;
  background-color: var(--main-bg);
  border-bottom: 1px solid var(--gray-text);
}

.task__container:first-child {
  border-radius: 6px 6px 0 0;
}

.empty {
  position: absolute;
  inset: 3rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--dark-text);
}

input[type="checkbox"] {
  display: none;
}

.label {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--gray-text);
  border-radius: 50%;
  cursor: pointer;
}

.label > img {
  opacity: 0;
}

input[type="checkbox"]:checked + .label {
  background-image: linear-gradient(to right, #3ea4bd, #ae50dc);
  border: 0;
}

input[type="checkbox"]:checked + .label > img {
  opacity: 1;
}

.task__container > input {
  font-family: Poppins;
  font-weight: 300;
  font-size: 1.1rem;
  color: var(--dark-text);
  border: none;
  background-color: transparent;
}

.task__container > input:focus-visible {
  outline: none;
  opacity: 0.6;
}

.task__container > p {
  font-size: 1.1rem;
  color: var(--dark-text);
}

.task__completed {
  text-decoration: line-through;
  opacity: 0.4;
}

.task__container > span {
  font-size: 1.2rem;
  color: var(--gray-text);
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
}

/* HOVER */
@media (hover: hover) {
  .label:hover {
    border: 2px solid var(--accent);
    cursor: pointer;
  }

  .task__container:hover > span {
    opacity: 1;
  }

  .task__container > span:hover {
    color: var(--accent);
  }
}

/*
==========
TABLET & MOBILE
=========
*/
@media (max-width: 1100px) {
  .list {
    width: 55%;
  }
}

@media (max-width: 650px) {
  .list {
    width: 80%;
  }
}
