/* TASK FORM  */
.task_form > h1 {
  font-family: Raleway;
  font-weight: 900;
  font-size: 2.8rem;
  color: var(--white-text);
  text-transform: uppercase;
  letter-spacing: 2rem;
}

.input_continer {
  width: 100%;
  padding: 1.3rem;
  margin: 1rem 0;
  background-color: var(--main-bg);
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input_continer > input {
  width: 95%;
  font-family: Poppins;
  font-size: 1.1rem;
  color: var(--main-text);
  border: 0;
  background-color: transparent;
}

.input_continer > input::placeholder {
  opacity: 0.3;
}

.input_continer > input:focus-visible {
  outline: none;
}

.input_continer > span.clear_icon-show {
  display: block;
}

.input_continer > span {
  display: none;
  font-size: 1.2rem;
  color: var(--gray-text);
}

/* HOVER */
@media (hover: hover) {
  .input_continer > span:hover {
    color: var(--accent);
    cursor: pointer;
  }
}
