/* Light */
.theme-light {
  --bg: #e6e6e6;
  --main-bg: #efefef;
  --dark-text: #35384f;
  --gray-text: #c3c3c3;
  --white-text: #f8f8f8;
  --accent: #c76cf5;
  --error: #f25454;
}

/* Dark */
.theme-dark {
  --bg: #222433;
  --main-bg: #33354a;
  --dark-text: #f8f8f8;
  --gray-text: #4d506f;
  --white-text: #f8f8f8;
  --accent: #c38ede;
  --error: #d66d6d;
}
