/*
==========
FONTS
=========
*/
@font-face {
  font-family: Poppins;
  src: url(../assets/Poppins.ttf) format(truetype);
}

@font-face {
  font-family: Raleway;
  src: url(../assets/Raleway.ttf) format(truetype);
}

/*
==========
COLORS
=========
*/
:root {
  --accent-bg: #9c3acd;
}

/*
==========
COMMON
=========
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  font-weight: 300;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 40%;
  position: absolute;
  top: 9rem;
}

/*
==========
HEADER IMAGE
=========
*/
.header__image {
  width: 100%;
  height: 345px;
  background-image: linear-gradient(to right, #12c2e9cc, #c471edcc, #f64f59cc),
    url(../assets/header.jpg);
  background-size: cover;
  background-position: 0 20%;
}

/*
==========
TABLET AND MOBILE DESIGN
=========
*/
@media (max-width: 1100px) {
  .container {
    width: 50%;
  }
}

@media (max-width: 650px) {
  .header__image {
    background-position: center;
  }

  .container {
    width: 80%;
  }

  .input__container {
    flex-wrap: wrap;
  }

  .input__container input {
    order: 1;
  }

  .input__container button {
    position: absolute;
    right: 0;
    bottom: 55%;
  }
}

/*
==========
DARK THEME
=========
*/
@media (prefers-color-scheme: light) {
  :root {
    --light-bg: #e6e6e6;
    --light-main-bg: #efefef;
    --light-white-text: #f8f8f8;
    --light-black-text: #2c2f42;
  }

  .app {
    background-color: var(--light-bg);
  }

  .form > h1 {
    color: var(--light-white-text);
  }

  .input__container > input {
    color: var(--light-black-text);
    background-color: var(--light-main-bg);
  }

  .input__container > input::placeholder {
    color: var(--light-black-text);
  }

  .input__container > span {
    border: 2px solid var(--light-black-text);
  }

  .input__container > span > img:hover {
    filter: brightness(90%);
  }

  .task__container {
    background-color: var(--light-main-bg);
  }

  .empty {
    color: var(--light-black-text);
  }

  .check {
    border: 2px solid var(--light-black-text);
  }

  .checkbox .check:after {
    border: solid var(--light-white-text);
  }

  .task__container > p {
    color: var(--light-black-text);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark-bg: #222433;
    --dark-main-bg: #33354a;
    --dark-black-text: #33354a;
    --dark-white-text: #f8f8f8;
  }

  .app {
    background-color: var(--dark-bg);
  }

  .form > h1 {
    color: var(--dark-black-text);
  }
  
  .input__container > input {
    color: var(--dark-white-text);
    background-color: var(--dark-main-bg);
  }

  .input__container > input::placeholder {
    color: var(--dark-white-text);
  }

  .input__container > span {
    border: 2px solid var(--dark-white-text);
  }

  .input__container > span > img {
    filter: invert(1);
  }

  .task__container {
    background-color: var(--dark-main-bg);
  }

  .empty {
    color: var(--dark-white-text);
  }

  .check {
    border: 2px solid var(--dark-white-text);
  }

  .checkbox .check:after {
    border: solid var(--dark-white-text);
  }

  .task__container > p {
    color: var(--dark-white-text);
  }

  .task__delete {
    filter: invert(1);
  }
}
