/*
==========
FOOTER
=========
*/
.footer {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  font-family: Josefin;
  font-weight: 400;
  font-size: 1em;
  color: var(--light-gray-text);
  border-radius: 0 0 6px 6px;
  background-color: var(--light-main-bg);
}

.footer_cat {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.footer_cat > li {
  list-style-type: none;
  cursor: pointer;
  transition: 0.3s;
}

.footer_cat > li.active {
  color: var(--accent-color);
  font-weight: 900;
}

#disable {
  pointer-events: none;
}

/*
==========
THEME
=========
*/
@media (hover: hover) {
  .footer_cat > li:hover {
    color: var(--accent-color);
  }
}

/*
==========
THEME
=========
*/
@media (prefers-color-scheme: dark) {
  .footer {
    color: var(--dark-gray-text);
    background-color: var(--dark-main-bg);
  }
}
