/*
==========
FORM
=========
*/
.form > input {
  width: 100%;
  padding: 1.3rem 2rem;
  font-family: Poppins;
  font-weight: 300;
  font-size: 1.1rem;
  color: var(--main-text);
  background-color: var(--main-bg);
  border: none;
  border-radius: 6px;
}

.form > input::placeholder {
  opacity: 0.3;
}

.form > input:focus-visible {
  outline: none;
}
