/*
==========
TASK LIST
=========
*/
.list {
  position: relative;
  margin-bottom: 3rem;
}

.task_container {
  padding: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 15fr 1fr;
  gap: 1rem;
  align-items: center;
  background-color: var(--main-bg);
  border-bottom: 2px solid var(--bg);
}

.task_container:first-child {
  border-radius: 6px 6px 0 0;
}

.empty {
  position: absolute;
  inset: 3rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--main-text);
}

.task_unchecked {
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid var(--main-text);
  opacity: 0.3;
  background-color: transparent;
  transition: 0.3s;
}

.task_checked {
  height: 1.5rem;
  width: 1.5rem;
  opacity: 0.8;
  background-image: linear-gradient(to right, #3ea4bd, #ae50dc);
  border: 0;
  border-radius: 50%;
}

.task_container > input {
  font-family: Poppins;
  font-weight: 300;
  font-size: 1.1rem;
  color: var(--main-text);
  border: none;
  background-color: transparent;
}

.task_container > input:focus-visible {
  outline: 0;
  opacity: 0.6;
}

.task_container > p {
  font-size: 1.1rem;
  color: var(--main-text);
}

.task_completed {
  text-decoration: line-through;
  opacity: 0.4;
}

.task_delete {
  font-weight: 900;
  opacity: 0.2;
  transition: 0.3s;
}

/*
==========
HOVER
=========
*/
@media (hover: hover) {
  .task_container > button:hover {
    opacity: 1;
    cursor: pointer;
  }

  .task_unchecked:hover {
    border: 2px solid var(--accent);
  }

  .task_delete:hover {
    color: var(--accent);
    opacity: 1;
    cursor: pointer;
  }
}
