/* LIST */
.list {
  position: relative;
  margin-bottom: 3rem;
}

.task_container {
  padding: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 15fr 1fr;
  gap: 1rem;
  align-items: center;
  background-color: var(--main-bg);
  border-bottom: 2px solid var(--bg);
}

.task_container:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
}

.empty {
  position: absolute;
  inset: 3rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--main-text);
}

.checkbox_task {
  appearance: none;
  display: grid;
  place-content: center;
}

.checkbox_border {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: 2px solid var(--gray-text);
}

.checkbox_task::before {
  content: "";
  background-image: url(../assets/icons/check.svg),
    linear-gradient(to bottom right, #5df 0%, #c058f3 100%);
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  transform: scale(0);
  transition: 0.3s;
}

.checkbox_task:checked::before {
  transform: scale(1);
}

.task_edit {
  font-family: Poppins;
  font-weight: 300;
  font-size: 1.1rem;
  color: var(--main-text);
  border: none;
  background-color: transparent;
}

.task_edit:focus-visible {
  outline: 0;
  opacity: 0.6;
}

.task_container > p {
  font-size: 1.1rem;
  color: var(--main-text);
}

.task_completed {
  text-decoration: line-through;
  opacity: 0.4;
}

.task_container > span {
  font-weight: 900;
  font-size: 1.2rem;
  color: var(--gray-text);
  opacity: 0;
  transition: 0.3s;
}

/* HOVER */
@media (hover: hover) {
  .checkbox_task:hover {
    border: 2px solid var(--accent);
    cursor: pointer;
  }

  .task_container:hover > span {
    opacity: 1;
  }

  .task_container > span:hover {
    color: var(--accent);
    opacity: 1;
    cursor: pointer;
  }
}
