/*
==========
FORM
=========
*/
.form > h1 {
  margin-bottom: 1rem;
  font-family: Raleway;
  font-weight: 900;
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 2rem;
}

.input__container {
  display: flex;
  gap: 1rem;
}

.input__container > input {
  padding: 1.3rem;
  flex-grow: 1;
  font-family: Poppins;
  font-weight: 300;
  font-size: 1.1rem;
  border: none;
  border-radius: 6px;
}

.input__container > input::placeholder {
  opacity: .35;
}

.input__container > input:focus-visible {
  outline: none;
}

.input__container > p {
  position: absolute;
  bottom: .8rem;
  right: 1.5rem;
  font-size: 1.8rem;
  opacity: .2;
  cursor: pointer;
  transition: .3s linear;
}

.input__container > p:hover {
  opacity: .6;
  transform: scale(1.1);
}

/*
==========
LIGHT
=========
*/
@media (prefers-color-scheme: light) {
  .form > h1 {
    color: var(--light-white-text);
  }

  .input__container > input {
    color: var(--light-black-text);
    background-color: var(--light-main-bg);
  }

  .input__container > input::placeholder {
    color: var(--light-black-text);
  }

  .input__container > p {
    color: var(--light-black-text);
  }
}

/*
==========
DARK
=========
*/
@media (prefers-color-scheme: dark) {
  .form > h1 {
    color: var(--dark-black-text);
  }
  
  .input__container > input {
    color: var(--dark-white-text);
    background-color: var(--dark-main-bg);
  }

  .input__container > input::placeholder {
    color: var(--dark-white-text);
  }

  .input__container > p {
    color: var(--dark-white-text);
  }
}
