/*
==========
TASK LIST
=========
*/
.task__list {
  position: absolute;
  top: 19rem;
}

.task__container {
  margin-bottom: 0.3rem;
  padding: 1.3rem;
  display: grid;
  grid-template-columns: 1fr 15fr 1fr;
  gap: 1rem;
  border-radius: 6px;
}

.empty {
  width: 100%;
  position: absolute;
  top: 3.5rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1px;
  user-select: none;
}

.checkbox > input {
  opacity: 0;
  cursor: pointer;
  width: 1px;
  position: absolute;
}

.check {
  height: 1.7rem;
  width: 1.7rem;
  background-color: transparent;
  opacity: .2;
  border-radius: 50%;
  transition: .3s;
}

.check:hover {
  opacity: .5;
}

.checkbox > input:checked ~ .check {
  background-color: var(--accent-bg);
  opacity: .6;
}

.checkbox > input:checked ~ .check:hover {
  opacity: .9;
}

.check:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox > input:checked ~ .check:after {
  display: block;
}

.checkbox .check:after {
  width: 5px;
  height: 10px;
  position: absolute;
  top: 6px;
  left: 9.5px;
  transform: rotate(45deg);
}

.task__container > p {
  font-size: 1.2rem;
}

.task__completed {
  text-decoration: line-through;
  opacity: .4;
}

.task__delete {
  font-size: 1.5rem;
  opacity: .2;
  cursor: pointer;
  transition: .3s linear;
}

.task__delete:hover {
  opacity: .6;
  transform: scale(1.2);
}

/*
==========
LIGHT
=========
*/
@media (prefers-color-scheme: light) {
  .task__container {
    background-color: var(--light-main-bg);
  }

  .empty {
    color: var(--light-black-text);
  }

  .check {
    border: 2px solid var(--light-black-text);
  }

  .checkbox .check:after {
    border: solid var(--light-white-text);
    border-width: 0 3px 3px 0;
  }

  .task__container > p {
    color: var(--light-black-text);
  }
}

  .task__delete {
    color: var(--light-black-text);
  }

/*
==========
DARK
=========
*/
@media (prefers-color-scheme: dark) {
  .task__container {
    background-color: var(--dark-main-bg);
  }

  .empty {
    color: var(--dark-white-text);
  }

  .check {
    border: 2px solid var(--dark-white-text);
  }

  .checkbox .check:after {
    border: solid var(--dark-white-text);
    border-width: 0 3px 3px 0;
  }

  .task__container > p {
    color: var(--dark-white-text);
  }

  .task__delete {
    color: var(--dark-white-text);
  }
}
