/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: none;
}

a {
  text-decoration: none;
}

button,
input,
select,
textarea {
  font: inherit;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

/* FONTS */
@font-face {
  font-family: Josefin;
  src: url(./assets/Josefin.ttf) format(truetype);
}

@font-face {
  font-family: Poppins;
  src: url(./assets/Poppins.ttf) format(truetype);
}

@font-face {
  font-family: Raleway;
  src: url(./assets/Raleway.ttf) format(truetype);
}

/* GLOBALS */
* {
  transition: all 0.5s;
}

body {
  font: 0.9rem Poppins;
  background-color: var(--bg);
  animation: fade-In 1s;
}

/* HEADER IMAGE */
.header {
  width: 100%;
  height: 345px;
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to right, #12e9e9cc, #d169c7cc),
    url(./assets/header.jpg);
  background-size: cover;
  background-position: 0 20%;
  z-index: -1;
}

/* ADAPTIVE */
@media (max-width: 650px) {
  .header {
    background-position: center;
  }
}

/* ANIMATION */
@keyframes fade-In {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
