/* THEME */
.theme {
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  background-color: transparent;
}

.iconTheme {
  width: 2rem;
}

.themeText {
  font-size: 1rem;
  color: var(--white-text);
}

/* HOVER */
@media (hover: hover) {
  .theme:hover {
    cursor: pointer;
  }
}
