/* THEME */
.header {
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.header > img {
  width: 2rem;
}

.header > p {
  color: var(--white-text);
}

/* HOVER */
@media (hover: hover) {
  .header:hover {
    cursor: pointer;
  }
}
